<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <plugins>
        <add name="SpecFlow.Plus.Excel" type="Generator" />
        <add name="SpecRun" />
    </plugins>
    <unitTestProvider name="SpecRun" />
  </specFlow>
</configuration>